html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    overflow-x:hidden;

}

article,
aside,
footer,
header,
nav,
section {
    display: block
}

.container {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0px auto;
    max-width: 1200px;

}

.site-header .body-wrap {
    position: relative;
}

.site-header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 5px;
}

.site-header-menu-item {
    list-style: none;
    display: flex;
}

#select-menu {
    background-color: black;
    color: white;
    border: none;
}

li {
    padding: 10px 20px;
    list-style: none;
}

.content-center {
    text-align: center;
}

.content-justify {
    text-align: justify;
}

.site-header-slider {
    height: 80vh;
    text-align: center;
    position: relative;
    margin: auto;
}

.slider-text {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    bottom: 40px;
}

.mySlides {
    position: relative;
    color: white;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
}

.site-header-slider img {
    height: 100%;
    width: 100%;
}

.site-header-slider p {
    display: inline-block;
    vertical-align: bottom;
    text-align: center;
}

.profiles {
    padding-top: 200px;
    padding-bottom: 100px;
}

.blogs,
.map {
    padding-top: 100px;
    padding-bottom: 100px;

}

.band_img {
    display: flex;
    justify-content: space-around;
}

.radius-circle {
    border-radius: 50%;
}

.blogs-wrap-sub1 {
    margin-top: 10px;
    padding-top: 6px;
    background-color: white;
    color: black;
}

.blogs-wrap {
    background-color: black;
    color: white;
}

.blogs-wrap-sub1 p {
    padding: 10px;

}

.month-ticket-sold-out {
    background-color: red;
    color: white;
}

.blogs {
    background-color: black;
    padding-bottom: 60px;
}

.month-ticket {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogs-wrap-sub2 {
    display: flex;
    justify-content: space-between;
}

.blogs-wrap-sub2-items {
    background-color: white;
    color: black;
    margin: 30px 0px;
    width: 32%;
}

.blogs-wrap-sub2-items img {
    width: 100%;
    height: 200px;
}

.blogs-wrap-sub2-items-content p {
    display: inline;
}

.hr {
    margin: 0;
}

.blogs-wrap-sub2-items-content {
    padding: 10px;
    margin-bottom: 10px;
}

.center-item {
    margin-left: 20px;
    margin-right: 20px;
}

button {
    background-color: black;
    color: white;
    padding: 10px;
    margin-top: 10px;
}

.month-ticket span {
    margin-right: 20px;
}

.radius-circle {
    background-color: black;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
}

.contact {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.contact-wrap-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-wrap-sub1 li {
    padding: 3px;
    display: block;
}

.name-email {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.w-50 {
    width: 49%;
}

.message {
    width: 100%;
    margin-top: 5px;
}

input {
    padding: 5px;
}

.btn-send {
    text-align: right;
}

.message-send {
    display: flex;
    flex-direction: column;
    align-self: right;
}

.map {
    background-image: url(../images/map.jpg);
    background-size: cover;
    height: 60vh;

}

.blogs-wrap-sub2-items a {
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.fa-regular {
    width: 20px;
    text-align: center;
}

.site-footer-inner {
    margin-top: 30px;
    margin-bottom: 40px;
}

.footer-copyright {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}

ul li {
    display: inline-block;
}

ul li:hover ul {
    display: block;
}

ul li ul {
    position: absolute;
    width: 200px;
    display: none;
    z-index: 999;
}
ul li ul li { 
    background: #555; 
    display: block; 
  }